<footer class="main-footer" style="background-color: #ecf0f5; border-color: #ecf0f5; height: 40px;">
    <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0.0
    </div>
    
    @{var anoAtual = DateTime.Now.Year;}
    <strong>Esse eu já li!<sup>&copy;</sup> @anoAtual.</strong>
</footer>